services:

  ollama:
    image: ollama/ollama:0.12.0
    container_name: ollama
    environment:
      - NVIDIA_VISIBLE_DEVICES=all  
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    env_file:
      - ./secret.env
    volumes:
      - ./ollama:/root/.ollama
    pull_policy: always
    tty: true
    ports:
      - "11434:11434"
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu] 

  open-webui:
    image: ghcr.io/open-webui/open-webui:v0.6.30
    container_name: open-webui
    volumes:
      - ./open-webui:/app/backend/data
    depends_on:
      - ollama
    ports:
      - 3001:8080
    environment:
      - 'OLLAMA_API_BASE_URL=http://ollama:11434/api'
    env_file:
      - ./secret.env
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped

  local-deep-research:
    image: localdeepresearch/local-deep-research
    ports:
      - "5000:5000"
    environment:
      # Web Interface Settings
      - LDR_WEB_PORT=5000
      - LDR_WEB_HOST=0.0.0.0
      - LDR_LLM_PROVIDER=ollama
      - LDR_LLM_OLLAMA_URL=http://ollama:11434
      - LDR_SEARCH_ENGINE_WEB_SEARXNG_DEFAULT_PARAMS_INSTANCE_URL=http://searxng:8080
      # Data directory configuration
      - LDR_DATA_DIR=/data
    volumes:
      - ./ldr_data:/data
      - ./ldr_scripts:/scripts
      - ./local_collections/personal_notes:/local_collections/personal_notes/
      - ./local_collections/project_docs:/local_collections/project_docs/
      - ./local_collections/research_papers:/local_collections/research_papers/
    restart: unless-stopped
    depends_on:
      - ollama

  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    ports:
      - "8080:8080"
    volumes:
      - ./searxng_data:/etc/searxng
    restart: unless-stopped